<!DOCTYPE HTML>
<html>
	<head>
		<title>Page not found | Emmanuel M. Bahige</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/" style="border-bottom: none;" id="title">Emmanuel M. Bahige</a></h1>
						<p>Web development and software engineering</p>
					</header>

				<!-- Main -->
					<div id="main">
						<section id="content" class="main">
							<span style="margin-bottom: 0px;" class="image main"><img style="width: 100%;" src="images/404.jpg" alt="Page not found"></span>
							<h2>Page not found</h2>
							<p><a href="/">Back home</a></p>
						</section>
					</div>

				<!-- Footer -->
                <footer id="footer">
					<section>
						<h2>Contact me</h2>
						<dl class="alt">
							<dt>Phone</dt>
							<dd><a href="tel:+243 976 908 567">+243 976 908 567</a></dd>
							<dt></dt>
							<dd><a href="tel:+243 842 076 520">+243 842 076 520</a></dd>
							<dt>Email</dt>
							<dd><a href="mailto:davidemmanuelbahige@gmail.com">davidemmanuelbahige@gmail.com</a></dd>
						</dl>
						<ul class="icons">
							<li><a href="tel:+243 976 908 567" class="icon brands fa-whatsapp alt"><span class="label">WhatsApp</span></a></li>
								<li><a href="https://www.facebook.com/emmanuel.bahige" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="https://instagram.com/davidbahige?igshid=ZDdkNTZiNTM=" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
						</ul>
					</section>
					<p style="margin-top: 0px;" class="copyright">&copy; Copyright <span id="date"></span>, Emmanuel M. Bahige.</p>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				var date = new Date().getFullYear();
				document.getElementById('date').innerHTML = date;
			</script>

	</body>
</html>